<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
	<div th:fragment="headerFragment" class="header-div">
		<div class="header">
			<a class="header-font" th:href="@{/main}">MUSINSA</a>
		</div>
		<div class="login-area">
			<a th:href="@{/loginView}" th:if="${session.userId == null}" class="login-text">로그인</a>
			<div th:if="${session.userId != null}" class="user-div">
				<span th:text="${session.userName}" class="user-name"></span>
				님, 환영합니다.</br>
				<span th:text="${'(보유 포인트 : ' + #numbers.formatInteger(session.point, 3, 'COMMA') +')'}"></span>
			</div>
			<a th:href="@{/logout}" th:if="${session.userId != null}" class="login-text">로그아웃</a>
		</div>
	</div>
</html>